SECRET_KEY=<your secret key>
BOT_TOKEN=<your bot token>
CHAT_ID=<your chat id>
STRIPE_SECRET_KEY=<your stripe secret key>
STRIPE_PUBLISHABLE_KEY=<your stripe publishable key>
CELERY_BROKER_URL=<your celery broker url>
CELERY_RESULT_BACKEND=<your celery backend url>
TIME_ZONE=<your time zone>
DEBUG=False
#  DATABASE
POSTGRES_DB=<your db name>
POSTGRES_USER=<your db user>
POSTGRES_PASSWORD=<your db password>
POSTGRES_HOST=<your db host>
POSTGRES_PORT=5432