SECRET_KEY=<your secret key>
BOT_TOKEN=<your bot token>
CHAT_ID=<your chat id>
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
TIME_ZONE=
STRIPE_SECRET_KEY=<your stripe secret key>
STRIPE_PUBLISHABLE_KEY=<your stripe publishable key>